PORT=5000
MONGO_URI=mongodb://root:salahny123@ac-le6lfyd-shard-00-00.bdqkstd.mongodb.net:27017,ac-le6lfyd-shard-00-01.bdqkstd.mongodb.net:27017,ac-le6lfyd-shard-00-02.bdqkstd.mongodb.net:27017/salahnyDB?ssl=true&replicaSet=atlas-ho1vsx-shard-0&authSource=admin&retryWrites=true&w=majority&appName=salahny-cluster
JWT_SECRET=secret123
